* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v8_28 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_74 {
  width: 100%;
  height: 1080px;
  background: url("../images/v8_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_29 {
  width: 100%;
  height: 100%;
  background: url("../images/v8_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_30 {
  width: 100%;
  height: 100%;
  background: url("../images/v8_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_31 {
  width: 585px;
  height: 342px;
  background: url("../images/v8_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 240px;
  overflow: hidden;
}
.v8_32 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v21_2 {
  width: 283px;
  height: 169px;
  background: url("../images/v21_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 151px;
  overflow: hidden;
}
.v8_34 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 205px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_35 {
  width: 585px;
  height: 342px;
  background: url("../images/v8_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 1095px;
  overflow: hidden;
}
.v8_36 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v23_28 {
  width: 225px;
  height: 222px;
  background: url("../images/v23_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 180px;
  overflow: hidden;
}
.v8_37 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 286px;
  left: 214px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_38 {
  width: 585px;
  height: 342px;
  background: url("../images/v8_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 1095px;
  overflow: hidden;
}
.v8_39 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v23_27 {
  width: 211px;
  height: 211px;
  background: url("../images/v23_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 187px;
  overflow: hidden;
}
.v8_40 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 292px;
  left: 237px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_41 {
  width: 695px;
  height: 342px;
  background: url("../images/v8_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 145px;
  overflow: hidden;
}
.v8_42 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v8_43 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 306px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_44 {
  width: 131px;
  height: 68px;
  background: url("../images/v8_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v8_45 {
  width: 131px;
  height: 68px;
  background: rgba(244,131,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_46 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 36px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_47 {
  width: 131px;
  height: 68px;
  background: url("../images/v8_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 282px;
  overflow: hidden;
}
.v8_48 {
  width: 131px;
  height: 68px;
  background: rgba(244,131,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_49 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 36px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_50 {
  width: 150px;
  height: 68px;
  background: url("../images/v8_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 545px;
  overflow: hidden;
}
.v8_51 {
  width: 150px;
  height: 68px;
  background: rgba(244,131,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_52 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_53 {
  width: 431px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v22_0 {
  width: 158px;
  height: 205px;
  background: url("../images/v22_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 309px;
  overflow: hidden;
}
.v28_1 {
  width: 100%;
  height: 114px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_111 {
  width: 749px;
  height: 80px;
  background: url("../images/v8_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1050px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v8_126 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 313px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_116 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 212px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_124 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 101px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_125 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_55 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 120px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v28_2 {
  width: 100%;
  height: 118px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 0px;
  overflow: hidden;
}
.v8_60 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 1642px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_28 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_74 {
  width: 100%;
  height: 1080px;
  background: url("../images/v8_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_29 {
  width: 100%;
  height: 100%;
  background: url("../images/v8_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_30 {
  width: 100%;
  height: 100%;
  background: url("../images/v8_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_31 {
  width: 585px;
  height: 342px;
  background: url("../images/v8_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 240px;
  overflow: hidden;
}
.v8_32 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v21_2 {
  width: 283px;
  height: 169px;
  background: url("../images/v21_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 151px;
  overflow: hidden;
}
.v8_34 {
  width: 175px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 205px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_35 {
  width: 585px;
  height: 342px;
  background: url("../images/v8_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 1095px;
  overflow: hidden;
}
.v8_36 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v23_28 {
  width: 225px;
  height: 222px;
  background: url("../images/v23_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 180px;
  overflow: hidden;
}
.v8_37 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 286px;
  left: 214px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_38 {
  width: 585px;
  height: 342px;
  background: url("../images/v8_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 1095px;
  overflow: hidden;
}
.v8_39 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v23_27 {
  width: 211px;
  height: 211px;
  background: url("../images/v23_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 187px;
  overflow: hidden;
}
.v8_40 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 292px;
  left: 237px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_41 {
  width: 695px;
  height: 342px;
  background: url("../images/v8_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 145px;
  overflow: hidden;
}
.v8_42 {
  width: 585px;
  height: 342px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 95px;
  border-top-left-radius: 171px;
  border-top-right-radius: 171px;
  border-bottom-left-radius: 171px;
  border-bottom-right-radius: 171px;
  overflow: hidden;
}
.v8_43 {
  width: 163px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 306px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v8_44 {
  width: 131px;
  height: 68px;
  background: url("../images/v8_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 0px;
  overflow: hidden;
}
.v8_45 {
  width: 131px;
  height: 68px;
  background: rgba(244,131,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_46 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 36px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_47 {
  width: 131px;
  height: 68px;
  background: url("../images/v8_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  left: 282px;
  overflow: hidden;
}
.v8_48 {
  width: 131px;
  height: 68px;
  background: rgba(244,131,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_49 {
  width: 58px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 36px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_50 {
  width: 150px;
  height: 68px;
  background: url("../images/v8_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 57px;
  left: 545px;
  overflow: hidden;
}
.v8_51 {
  width: 150px;
  height: 68px;
  background: rgba(244,131,49,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_52 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 17px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v8_53 {
  width: 431px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 144px;
  left: 60px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v22_0 {
  width: 158px;
  height: 205px;
  background: url("../images/v22_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 69px;
  left: 309px;
  overflow: hidden;
}
.v28_1 {
  width: 100%;
  height: 114px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_111 {
  width: 749px;
  height: 80px;
  background: url("../images/v8_111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1050px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v8_126 {
  width: 50px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 313px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_116 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 212px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_124 {
  width: 75px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 101px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_125 {
  width: 65px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_55 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 120px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v28_2 {
  width: 100%;
  height: 118px;
  background: rgba(196,196,196,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 962px;
  left: 0px;
  overflow: hidden;
}
.v8_60 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 1642px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
