*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
body{
    font-family: Helvetica, sans-serif;
    background-image:   linear-gradient(rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.11),rgba(0, 0, 0, 0.11))
                        ,url(Agri_farm.jpg);    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*border: 1px solid #ffff;/*for test*/
}
/* the styling for header section and navigation*/
header {
    position: relative;
    height: 80px;
    width: 100%;
    padding: 10px 20px;
    background-color:rgba(196, 196, 196, 0.4);
    /*border: 1px solid rgba(255, 255, 255, 0.514);/*for test*/
}
nav ul {
    position: relative;
    list-style-type: none;
    overflow: hidden;
    float: right;
    /*border: 1px solid rgba(255, 255, 255, 0.514);/*for test*/
}
nav li {
    float: left;
    list-style-type: none;
}
nav a{
    text-decoration: none;
    color: black;
    display: inline-block;
    text-align: center;
    padding: 20px 20px;
    transition:0.6s ease;
    /*border: 1px solid rgba(255, 255, 255, 0.514);/*for test*/
}
nav a:hover{
    background-color:rgb(255, 255, 255) ;
}

.profile img{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 60px;
    margin-right: 10px;
    margin-left: 0px;
    border-color: #000000 ;
    border-width: 0.5px;
    border-style: solid;
    /*border: 1px solid rgb(42, 253, 0);/*for test*/   
}
.profile{
    display: flex;
    height: 60px;
    padding-left: 1px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    position: relative;
    text-align: center;
    background: #FFFFFF;
    border-radius: 40px 10px 10px 40px;
    /*border: 1px solid rgb(0, 89, 253);/*for test*/   
    
}
.log{
    padding: 0px;
    margin: 0px;
}

.log button{
    position: relative;
    text-align: center;
    background-color: #F48432;
    border-radius: 10px;
    border-style: none;
    height: 40px;
    width: 80px;
    padding: 5px 20px;
    margin: 9px;
}
/*overriding the hover from nav*/
.profile:hover{
    background-color: #3bb316d3;
}
.log:hover{
    background-color: #00000000;
}
.log button:hover {
    background-color: #fdfdfd;
    color: #F48432;

}
/* login form styling*/

.container{
    display: none;/*default state is hidden*/
    background-color: #0000009a;
    height: 100%;
    width: 100%;
    padding: 100px 300px;
    margin-bottom: auto;
    position: absolute;
    top: 0px;
}

.loginheader{
    display: block;
    background-color: #fdfdfd;
    padding: 20px;
    color: #F48432;
    text-align: center;
    margin: 0px;
    font-size:x-large;
    font-weight: bold;
    border-radius: 10px;
}

.loginbody{
    display: grid;                                                              
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto  auto  auto  auto  auto ;
    grid-template-areas:    
        "text       input"
        "text       input"
        "cancel     submit"
        "linklabel  links";
    row-gap: 20px;
    column-gap: 20px;
    background-color: #fdfdfd;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 30px;
    /*border: 1px solid rgb(73, 218, 37);/*for test*/
}
.loginbody label{
    padding: 10px 10px;
}
.loginbody input{
    background-color: #C4C4C4;
    border-style: none;
    border-radius: 5px;
}
.loginbody input::placeholder{
    text-align: center;
}
.loginbody .submitbutton{
    background-color: #F48432;
    grid-area: submit;
    display: block;
    width: 162px;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
}
.loginbody .cancelbutton{
    background-color: #F48432;
    grid-area: cancel;
    display: block;
    width: 162px;
    height: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
    margin-left: auto;
}

.loginbody .signuplabel{
    grid-area: linklabel;
    display: block;
    text-align: center;
    padding: 10px;
}
.loginbody .signupimg{
    grid-area: links;
    display: block;
    align-items: center;
}


/* title section*/
.title{
    position: relative;
    float: left;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    /*border: 1px solid rgb(73, 218, 37);/*for test*/
}

/*the front navigation buttons*/

main table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-decoration: none;
    /*border: 1px solid rgb(73, 218, 37);/*for test*/
}
main button{
    padding: 10px 10px;
    margin: 10px 40px;
    border-radius: 100px;
    border-width: 0px;
    width: 400px;
    height: 200px;
    background-color:rgba(196, 196, 196, 0.26);
    text-align: center;
    font-size: medium;
    /*border: 1px solid rgb(73, 218, 37);/*for test*/       
}
main button img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid rgb(73, 218, 37);/*for test*/       
}
main button:hover{
    background-color: rgba(255, 255, 255, 0.74);
    border-width: 3px;
    border-style: solid;
}

/*footer section*/
footer{
    position: absolute;      
    height: 70px;
    width: 100%;
    bottom: 0;
    padding: 10px 20px;
    background-color: rgba(196, 196, 196, 0.4);
    font-family: Helvetica, sans-serif;

    /*border: 1px solid rgb(73, 218, 37);/*for test*/

}
footer a{
    display: block;
    float: right;
    padding: 0px 10px;
    margin: 0px 40px;
    background-color: #00000000;
    text-decoration: none;
    text-align: center;
    color: #000000;
    /*border: 1px solid rgb(73, 218, 37);/*for test*/
}